

.about h1 {
  border-bottom: 3px solid #7562FF;
  padding: 5px;
}


.ladoo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}

.abheading {
  font-weight: bold;
}