.user-png {
  width: 30px;
  height: 30px;
}
.navbar-brand {
  color: #7562FF;
  font-size: 25px;
  font-weight: bold;
}

.btn-nav {
  background-color: #7562FF;
  border-radius: 5px;
  color: white !important;
  font-weight: bold;
}
