.signup {
  width: 100%;
}
.column {
  height: 100vh;
}
.input-signup {
  outline: none;
  border-radius: 10px;
  border: 1px solid lightgray
}
.sign-up-heading {
  font-size: 50px;
  color: black;
  opacity: 0.8;
}

.btn-signup {
  color: white;
  outline: none;
  border: none;
}


.input-sec {
  width: 50vh;
}

.contdist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}